# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
// 这是虎子测试 SSH 提交的一行注释
# AizhinengZSK 项目介绍

这是虎子的智能知识库项目，用于学习 Git 推送和 SSH 配置测试。

